body {
  font-family: Arial;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.cart {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cart.visible {
  opacity: 1;
  transform: translateY(0);
}

.cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__clear {
  background-color: #f0f0f0;
  color: #000;
}

.cart__clear:hover {
  background-color: #e0e0e0;
  transform: scale(1.05) rotate(-1deg);
}

.cart__products {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__product {
  position: relative;
  transition: transform 0.3s;
}

.cart__product-added {
  animation: bump 0.4s ease;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.cart__product-count {
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid green;
  border-radius: 50%;
  padding: 2px 5px;
}

.cart__product-image {
  border-radius: 6px;
  margin-right: 10px;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.product {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.product__title {
  width: 100%;
  text-transform: uppercase;
}

.product__image {
  width: 100px;
  object-fit: contain;
}

.product__quantity-title {
  text-transform: uppercase;
}

.product__quantity-controls {
  display: flex;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

.product__quantity-control {
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.product__quantity-control:hover {
  background: gray;
  color: #fff;
}

.product__quantity-control--dec.disabled {
  opacity: 0.5;
  /* Make the button look disabled */
  pointer-events: none;
  /* Prevent clicks on the button */
}

.product__quantity-value {
  box-sizing: border-box;
  padding: 0 10px;
}

.product__add {
  background: green;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.product__add:hover {
  opacity: 0.8;
}

.product-shadow {
  position: absolute;
}
