button {
  margin: 0 !important;
}

.header {
  margin-bottom: 20px;
}

.card {
  width: 600px;
}

.tasks__control {
  display: flex;
  gap: 10px;
}

.tasks__input {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-family: Golos, Arial, sans-serif;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
}

.tasks__add {
  font-family: Golos, Arial, sans-serif;
  color: #fff;
  background-color: #06f;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  outline: none;
  min-width: max-content;
  padding: 8px 12px;
  text-align: center;
  transition: 0.3s ease;
  text-decoration: none;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  font-weight: 500;
  box-shadow: none;
}

.tasks__btn-clear-wrap {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.tasks__clear {
  background-color: transparent;
  color: black;
}

.tasks__clear:hover {
  background-color: transparent;
  color: red;
  transform: rotate(-3deg) scale(1.1);
}

.tasks__clear:disabled {
  display: none;
}

.tasks__list {
  margin-top: 24px;
  padding: 0;
}

.tasks__item {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.10);
}

.tasks__item-title {
  flex-grow: 1;
  padding: 10px 5px;
}

.tasks__item-remove {
  background-color: transparent;
  color: red;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tasks__item-remove:hover {
  background-color: transparent;
  transform: rotate(180deg) scale(1.3);
}