.signin {
  display: none;
}

.signin--active {
  display: block;
}

.control {
    width: 100%;
    display: block;
    padding: 10px 20px;
    margin: 0 0 20px 0;
    font-family: Golos, Arial, sans-serif;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  cursor: pointer;

  background: none;
  border: none;
  padding: 5px;

  color: #666;
}

.toggle-password:hover {
  background: none;
  color: #333;
}

.eye-icon {
  display: none;
}

.eye-icon.active {
  display: block;
}

.animate-toggle {
  animation: buttonScale 0.3s ease;
}

.btn {
  font-family: Golos, Arial, sans-serif;
  color: #fff;
  background-color: #06f;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin: 0 0 20px 0;
  overflow: hidden;
  outline: none;
  padding: 8px 12px;
  text-align: center;
  transition: 0.3s ease;
  text-decoration: none;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  font-weight: 500;
  box-shadow: none;
}

.welcome {
  display: none;
}

.welcome--active {
  display: block;
  text-align: center;
}

#user-id {
  font-weight: bold;
}

.error-message {
  color: #f00;
}

.slide-in {
  animation: slideIn 0.4s forwards;
}

.slide-out {
  animation: slideOut 0.4s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes buttonScale {
  50% {
    transform: translateY(-50%) scale(1.2);
  }

  100% {
    transform: translateY(-50%) scale(1);
  }
}
