body {
  font-family: Arial;
}

/* Курс валюты */
.courses__item span:not(:last-child) {
  margin-right: 5px;
}

.courses__item-code {
  font-weight: bold;
}

/* Прелоадер */
.loader {
  width: 100px;
  display: none;
}

.loader--active {
  display: block;
}
