body {
  margin: 0;
}

/* Классы для изменения размера шрифта в читалке */
.book--fs-big {
  font-size: 20px;
}

.book--fs-small {
  font-size: 12px;
}

/* Классы для изменения цвета шрифта в читалке */
.book--color-black {
  color: black;
}

.book--color-gray {
  color: gray;
}

.book--color-whitesmoke {
  color: whitesmoke;
}

/* Классы для изменения фона в читалке */
.book--bg-gray {
  background: grey;
}

.book--bg-black {
  background: black;
}

.book_bg-white {
  background: white;
}

/* Классы для блока управления читалкой */
.book__controls {
  background: rgb(63, 63, 63);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  color: whitesmoke;
  font-size: 16px;
}

.book__control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 4px;
  margin-left: 5px;
  box-sizing: border-box;
}

.color--active {
  box-shadow: 0 0 5px white;
  border: 1px solid gray;
}

.font-size {
  /* Отображение и позиционирование */
  display: inline-flex;
  justify-content: center;
  align-items: center;

  /* Размеры элемента */
  width: 25px;
  height: 25px;

  /* Отступы */
  padding: 1px 6px;

  /* Шрифты */
  font-size: 16px;
  line-height: 16px;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;

  /* box-sizing */
  box-sizing: border-box;
}

/* Классы для кнопок управления размером шрифта */
.font-size--small {
  font-size: 12px;
}

.font-size--big {
  font-size: 20px;
}

.font-size--active {
  border: 1px solid whitesmoke;
  border-radius: 50%;
}

/* Классы для кнопок управления цветом текста */
.color--text-black {
  background: #000;
}

.color--text-gray {
  background: grey;
}

.color--text-whitesmoke {
  background: whitesmoke;
}

/* Классы для кнопок управления цветом фона */
.color--bg-black {
  background: #000;
}

.color--bg-gray {
  background: grey;
}

.color--bg-white {
  background: white;
}

/* Классы для стилизации контентной области читалки */
.book {
  font-family: Georgia;
}

.book p:first-letter {
  font-size: 28px;
}

.book__content {
  max-width: 990px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}